body {
    font-family: 'Noto Sans Mono', monospace;
    background: linear-gradient(to right, #d4f8f9, #edfeff); /* Subtle gradient */
    color: #292b2a;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rot13Walk {
    font-family: 'Noto Sans Mono', monospace;
    color: #292b2a;
    text-align:left;
    padding: 20px;  
}

.hidden {
    display: none;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.3); /* Transparent white for glass effect */
    backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Soft shadow */
}


.mascot {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    transition: transform 0.3s;
}

.mascot:hover {
    transform: scale(1.1);
}

.cipherDiagram {
    width: 400px;
    height:auto;
    margin-bottom: 10px;
}

h1 {
    color: #181a19;
    font-size: 32px;
    text-shadow: 0 0 5px rgba(78, 83, 86, 0.6);
}

button {
    background: linear-gradient(135deg, #afcde6, #c2e2e3);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Noto Sans Mono', monospace;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

button:hover {
    background: linear-gradient(135deg, #c2d9f3, #a5d8d3);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul li {
    background: #e0f2f1; /* Soft gradient */
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

ul li:hover {
    transform: translateX(5px);
    background: linear-gradient(135deg, #e0f2f1, #c2e2e3);
}

.metadataimg {
    width: 400px;
    height: auto;
}